<div>
  <app-navbar></app-navbar>
</div>

<div class="card-container">
  <div class="list-shows">
    <ng-container *ngFor="let item of listTvShows">

      <div class="show">
        <img [src]="item.image" alt="" class="image">
        <div class="title">
          {{item.name}}
        </div>
        <div>
          <button class="input"><fa-icon [icon]="faEye"></fa-icon> Details</button>
          <button class="input"><fa-icon [icon]="faHeart"></fa-icon> Favorites</button>
      </div>
      </div>
    </ng-container>
  </div>
</div>
