<div>
  <app-navbar></app-navbar>
</div>

<div>
  <app-search class="search"></app-search>
</div>

<div class="card-container">
  <div class="list-shows">
    <ng-container *ngFor="let item of listTvShows">

      <div class="show">
        <img [src]="item.imagePath" alt="" class="image">
        <div class="title">
          {{item.name}}
        </div>
        <div>
          <button class="input" (click)="showDetails(item)">
            <mat-icon class="icon" matSuffix>menu</mat-icon>Details
          </button>
          <button class="input" (click)="addToFavorites(item)">
            <mat-icon class="icon" matSuffix>favorite_border</mat-icon>Favorites
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>